.btn {
    width: 150px;
    height: 30px;
    background: none;
    border: 2px solid rgb(155, 46, 155);
    border-radius: 4px;
}

.btn:hover{
    background: rgb(155, 46, 155);
    color: white;
    cursor: pointer;
  }