.course-info{
    border: 2px solid rgb(36, 179, 223);
    margin-top: 15px;
    padding: 20px 50px;
}

.course-info__content{
    display: flex;
}

.course-info__description{
    width: 60%;
    margin-right: 3rem;
}

.course-info__title{
    text-align: center;
}

.go-back{
    text-decoration: none;
    color: black;
  }