.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(128, 56, 56);
    padding: 10px;
}

.header__user-info{
    display: flex;
    align-items: center;
    gap: 20px;
}

