.courses {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid black;
    padding: 15px;
    margin-top: 15px;
}

.task-bar {
  display: flex;
  justify-content: space-between;
}
