.card {
    border: 2px solid rgb(83, 83, 180);
    display: flex;
    padding: 15px;
}

.card__text-content {
    width: 70%;
}

.card__info{
    display: flex;
    flex-direction: column;
}

.buttons-row{
    display: flex;
    gap: 15px;
}

.func-btn{
    width: 30px;
}