.create-course {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid rgb(7, 7, 143);
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.create-course__input {
  width: 250px;
  margin-bottom: 25px;
  height: 30px;
}

textarea {
  height: 75px;
  border: 2px solid gold;
}

.create-course__authors {
  display: flex;
  padding: 15px;
  border: 2px solid black;
  margin-top: 15px;
}

.create-course__add-authors {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.create-course__authors-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.authors-list,
.course-authors {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.add-authors__input,
.add-duration__input {
  width: 100%;
  height: 30px;
}

.add-authors__button {
  align-self: center;
  margin-bottom: 50px;
}

h4 {
  align-self: center;
}

.create-course__author-name {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 5px 0;
}

.create-course-btn {
  position: absolute;
  right: 15px;
  top: 50px;
}

.show-author-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
