@import "./assets/fonts/style.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  padding: 10px 50px;
}


.sing-in-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;       
}

.sing-in {
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  border: 2px solid rgb(22, 177, 224);
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.sing-in-form__input{
  height: 24px;
  width: 300px;
  border-radius: 4px;
}

.link {
  text-decoration: none;
  color: blue;
  font-size: 1.2rem;
}

.sing-in-btn{
  margin-top: 15px;
}